
   <div class="container">

    <div class="trafficlight">      
      <div [ngClass]="{redOpacity: redOpacity}" class="red"></div>
      <div [ngClass]="{yellowOpacity: yellowOpacity}" class="yellow"></div>
      <div [ngClass]="{greenOpacity: greenOpacity}" class="green"></div>
    </div>         
 </div>

  <ng-container *ngIf="trafficLight">   
    <div class="text-center">Id: {{trafficLight.id}}</div> 
    <div class="text-center">Color: {{trafficLight.color}}</div>  
      <div class="text-center">{{trafficLight.date | date:'medium'}}</div>              
  </ng-container>
<div class="text-center">
  <button type="submit" (click)="updateColor()">
    Next color
  </button>  
</div>
  





  
  